{% if cart.item_count > 0 %}
{% assign count = 0 %}
<div class="cart-wrapper">
<div class="disclaimer-wrapper">
  <div class="disclaimer">
    <p>YOUR FIRST ISSUE</br>
Your print subscription will begin with the NEXT issue of Adbusters and not the issue currently on newsstands. As we are a bi-monthly magazine, it could be up to three months before your first issue arrives. The current issue is available for order though at our Culture Shop.</p></br>

<p>Your digital Subscription will begin with the AB issue on newsstands at the time of purchase. Your bi0monthly issues will be delivered using WeTransfer to the e-mail provided at time of purchase.</p></br>

<p>ADBUSTERS REFUND POLICY</br>
As a non-profit, Adbusters is unfortunately unable to take responsibility for issues related to lost or damaged goods by the postal service. At this time, we are unable to refund cancelled subscriptions. We appreciate your understanding.</p>
  </div>
  </div>
  <form action="/cart" method="post" novalidate>
    <div class="table-wrapper">
        <h1>Your Cart</h1>
    <div class="responsive-table">
      <div class="small--hide">
        <div class="section-labels">
          <p class="cart-prod-title" colspan="2">{{ 'cart.label.product' | t }}</p>
          <p class="cart-prod-price">{{ 'cart.label.price' | t }}</p>
          <p class="cart-prod-quantity">{{ 'cart.label.quantity' | t }}</p>
          <p class="cart-prod-total">{{ 'cart.label.total' | t }}</p>
        </div>
      </div>
      <tbody>

        {% for item in cart.items %}
        {% assign count = count | plus: 1 %}

        {% comment %}

        Cart Item Template
        =====================
        The data-label attributes on <td> elements are mobile-friendly
        helpers used for responsive-table labels
        {% endcomment %}

          <div class="responsive-table-row">

            <td data-label="{{ 'customer.order.product' | t }}">

              {% if item.image != blank %}
                <a href="{{ item.url | within: collections.all }}">
                  {{ item | img_url: '240x240' | img_tag: item.title }}
                </a>
              {% endif %}

            </td>
            <div class="prod-title">
              <a href="{{ item.url }}">{{ item.product.title }}</a>

              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p>
              {% endunless %}

              {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:

                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </div>
            <div class="price-quantity-wrapper">
            <div data-label="{{ 'cart.label.price' | t }}">
              {% if item.original_line_price != item.line_price %}
                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                {{ item.price | money }}
                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                <s>{{ item.original_price | money }}</s>
              {% else %}
                {{ item.price | money }}
              {% endif %}
            </div>
            <div id="{{ count }}" class="cart-quantity-selector" data-label="{{ 'cart.label.quantity' | t }}">
              <button type="button" class="decrement-button {{ count }}">-</button>
              <input class="cart-quantity-input"
                     type="number"
                     name="updates[]"
                     id="updates_{{ item.key }}"
                     value="{{ item.quantity }}"
                     min="0"
                     aria-label="{{ 'cart.general.item_quantity' | t }}">
                      <button type="button" onclick="linkClickEvent(this);" class="increment-button {{ count }}">+</button>
            </div>
            <td data-label="{{ 'cart.label.total' | t }}">
              {{ item.line_price | money }}
            </td>
          </div>
          </div>

        {% endfor %}
      </tbody>
    </div>
</div>
    {% if settings.cart_notes_enable %}
      <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
      <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    {% endif %}

    <p>{{ 'cart.general.subtotal' | t }}</p>
    <p>{{ cart.total_price | money }}</p>
    {% if cart.total_discounts > 0 %}
      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
    {% endif %}
    <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
    <input type="submit" name="update" value="{{ 'cart.general.update' | t }}">
    <input type="submit" name="checkout" class="button" value="{{ 'cart.general.checkout' | t }}">
  </form>
{% else %}
  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
</div>
{% endif %}

<script type="text/javascript">

let elem = "";
const linkClickEvent = (element) => {
 elem = $(element).closest("div").attr("id");
}


$(document).ready(function() {

    $(".increment-button " + elem.toString()).click(function() {
        var counter = parseInt($('#' + elem.toString() + ' input').val());
        counter++;
        $('#' + elem.toString() + ' input').val(counter);
        console.log(".increment-button " + elem.toString());
    });

    $(".decrement-button").click(function() {
        var counter = parseInt($('#' + elem.toString() + ' input').val());
        counter--;
        $('#' + elem.toString() + ' input').val(counter);
        console.log(counter);
    });
});
</script>
